<br>
 <div class="jumbotron">
   <h1>Blocpedia</h1>
   <p>Blocpedia is alternative to wikipedia!</p>
   <p>
     <%= link_to "Sign In", new_user_session_path %>
     <%= link_to "Sign Up", new_user_registration_path %> today!
   </p>
 </div>

 <div class="row">
   <div class="col-md-4">
     <h2>Bunch of cool info 1</h2>
     <p>This will have cool info about the site that we are trying to build</p>
   </div>
   <div class="col-md-4">
     <h2>Bunch of cool info 2</h2>
     <p>This will have cool info about the site that we are trying to build</p>
   </div>
   <div class="col-md-4">
     <h2>Bunch of cool info 3</h2>
     <p>This will have cool info about the site that we are trying to build</p>
   </div>
 </div>
