<br>
<div class="jumbotron clearfix">
  <p>
    Welcome to the Blocpedia wiki page,
    feel free to contirbute by providing insighful information on any topic.
  </p>
  <div class="pull-right">
    <%= link_to "Create", new_wiki_path, class:'btn btn-primary' %>
  </div>
</div>
<div class="row">
  <div class="col-md-8">
    <h3>My Wikis</h3>
    <% if current_user %>
      <%= render current_user.wikis %>
    <% end %>
  </div>
</div>
<hr>
<h3>All Wikis</h3>
<br>
<div class="row">
  <% @wikis.each do |wiki| %>
    <div class="col-md-8">
      <div class="media">
        <div class="media-body">
          <h4 class="media-heading">
            <%= link_to wiki.title, [@wiki_path, wiki] %>
          </h4>
          <br>
        </div>
      </div>
    </div>
  <% end %>
</div>
