// Place all the styles related to the Wikis controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.cancel{
  margin-right: 2px;
}

.markdown-hints-container{
  padding-top: 5px;
  padding-bottom: 5px;
}
.markdown-hints{
  color: #999999;
  font-size: 12px;
}

.markdown-hints div {
    margin-left: 12px;
}

.markdown-hints * {
    display: inline;
}

.markdown-hints .markdown-italic {
    font-style: italic;
    font-weight: normal;
}

.markdown-hints .markdown-code {
    border-radius: 5px;
}

.markdown-hints .markdown-bullet span {
    font-size: 20px;
}
